AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=ap-northeast-2
S3_BUCKET=
S3_DATA_PREFIX=datasets
S3_OUTPUT_PREFIX=outputs
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
